/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #FDFFFC;
  font-family: 'Ubuntu', sans-serif;
  color: #011627;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #011627;
}


/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 40px 15px 40px;
}
.container .footer-text {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  color: #FDFFFC;
}

code {
  font-size: 80%;
}

.navbar-title {
    font-weight: bold;
    font-size: 30px;
    color: #011627;
}

.container-lightblue {
  background-color: #2EC4B6;
}

.text-align-center {
  text-align: center;
}

.font-extra-large {
  font-size: 60px;
}

#form-container {
  padding-top: 40px;
  padding-bottom: 40px;
}