{% load staticfiles %}

<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

        {% block head_block %}
        {% endblock %}

        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
        <title>{% block title %}Steam Ratings{% endblock %}</title>
    </head>

    <body>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <a href="/">
                    <div class="navbar-header">
                        <span class="navbar-title">Steam Ratings</span>
                        <font color="#E71D36">Beta</font>
                    </div>
                </a>
            </div>
        </nav>

        {% block body_block %}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <p class="footer-text">Casper Chia | 2015 | About</p>
            </div>
        </footer>

    </body>

</html>