{% extends 'SGRapp/base.html' %}

{% block head_block %}
    <script>

        $(window).bind("pageshow", function(event) {
            if (event.originalEvent.persisted) {
                window.location.reload()
            }
        });

        $(document).ready(function(){
            $("#username-btn").click(function(){
                $("div#divLoading").addClass('show');
            });

            $("#steamid-btn").click(function(){
                $("div#divLoading").addClass('show');
            });

            // $("#steamid-btn").click(function(){
            //     $(this).button('loading');
            // });
            // $("#username-btn").click(function(){
            //     $(this).button('loading');
            // });
        });
    </script>
{% endblock %}

{% block body_block %}
    <div id="divLoading"></div>

    <div class="container text-align-center" id="welcome-container">
        <h1 class="font-extra-large">Welcome to Steam Ratings!</h1>
        <h3>Sort your Steam library based on Steam's user ratings.</h3>
    </div>

    <div class="container-fluid container-lightblue" id="form-container">
        <div class="container text-align-center">
            <p>To retrieve your steam library, please ensure that your profile is set to public.</p>
            <br>

            <form class="form-inline" method="GET" action="{% url 'goto' %}">
                <label for="userInput">http://steamcommunity.com/id/</label>
                <input type="text" class="form-control" name="userInput" placeholder="Username">
                <input type="hidden" name="inputType" value="steamName">
                <input type="submit" class="btn btn-default" id="username-btn" value="Enter">
                <!-- <button type="submit" class="btn btn-default" id="username-btn" data-loading-text="<span class='spinning glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Loading...">Enter</button> -->
            </form>

            <h4>or</h4>

            <form class="form-inline" method="GET" action="{% url 'goto' %}">
                <label for="userInput">http://steamcommunity.com/profiles/</label>
                <input type="text" class="form-control" name="userInput" placeholder="SteamID">
                <input type="hidden" name="inputType" value="steamId">
                <input type="submit" class="btn btn-default" id="steamid-btn" value="Enter">
                <!-- <button type="submit" class="btn btn-default" id="steamid-btn" data-loading-text="<span class='spinning glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Loading...">Enter</button> -->
            </form>

        </div>
    </div>

{% endblock %}
