{% extends 'SGRapp/base.html' %}

{% block body_block %}

    <div class="container text-align-center">
        <h1 class="font-extra-large">Welcome to Steam Ratings!</h1>
        <h3>Sort your Steam library based on Steam's user ratings.</h3>
    </div>

    <div class="container-fluid container-lightblue" id="form-container">
        <div class="container text-align-center">
            <p>To get your steam id, please ensure that your profile is set to public.</p>

            <form method="GET" action="{% url 'goto' %}">
                <label for="userInput">http://steamcommunity.com/id/</label>
                <input type="text" name="userInput">
                <input type="hidden" name="inputType" value="steamName">
                <input type="submit" value="Enter">
            </form>

            <h4>or</h4>

            <form method="GET" action="{% url 'goto' %}">
                <label for="userInput">http://steamcommunity.com/profiles/</label>
                <input type="text" name="userInput">
                <input type="hidden" name="inputType" value="steamId">
                <input type="submit" value="Enter">
            </form>

        </div>
    </div>

{% endblock %}
